USE [Maritime]
GO
/****** Object:  Table [dbo].[Ranges]    Script Date: 06/12/2021 07:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranges](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [numeric](18, 5) NOT NULL,
 CONSTRAINT [PK_Ranges] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
